<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>Aquima Runtime</display-name>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<!-- Beans in these files will makeup the configuration of the root web 
		application context -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:aquima-config.xml</param-value>
	</context-param>

	<context-param>
		<param-name>contextClass</param-name>
		<param-value>com.aquima.web.context.AquimaXmlWebApplicationContext</param-value>
	</context-param>

	<filter>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>com.aquima.web.security.SpringSecurityFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>filterDelegateHandler</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filterDelegateHandler</filter-name>
		<url-pattern>/server/*</url-pattern>
		<url-pattern>/webservices/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>swagger</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:web/swagger-servlet.xml</param-value>
		</init-param>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>com.aquima.web.context.ParentClassLoaderWebXmlApplicationContext</param-value>
		</init-param>
		<init-param>
            <param-name>dispatchOptionsRequest</param-name>
            <param-value>true</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>	
	
	<servlet>
		<servlet-name>rest</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:web/rest-servlet.xml</param-value>
		</init-param>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>com.aquima.web.context.ParentClassLoaderWebXmlApplicationContext</param-value>
		</init-param>
		<init-param>
            <param-name>dispatchOptionsRequest</param-name>
            <param-value>true</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>	
	
	<servlet>
		<servlet-name>server</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:web/server-servlet.xml</param-value>
		</init-param>
				
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>com.aquima.web.context.ParentClassLoaderWebXmlApplicationContext</param-value>
		</init-param>
		
		<init-param>
            <param-name>dispatchOptionsRequest</param-name>
            <param-value>true</param-value>
        </init-param>
        
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>webservices</servlet-name>
		<servlet-class>com.aquima.web.config.FixedMessageDispatcherServlet</servlet-class>
 		<init-param> 
 			<param-name>contextConfigLocation</param-name> 
 			<param-value>classpath:web/webservices-servlet.xml</param-value> 
 		</init-param> 
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>com.aquima.web.context.ParentClassLoaderWebXmlApplicationContext</param-value>
		</init-param>
		<init-param>
			<param-name>transformWsdlLocations</param-name>
			<param-value>false</param-value>
		</init-param>		
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>web-resources</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:web/web-resources-servlet.xml</param-value>
		</init-param>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>com.aquima.web.context.ParentClassLoaderWebXmlApplicationContext</param-value>
		</init-param>
		<init-param>
            <param-name>dispatchOptionsRequest</param-name>
            <param-value>true</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>	

	<servlet>
		<servlet-name>vaadin</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:web/vaadin-servlet.xml</param-value>
		</init-param>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>com.aquima.web.context.ParentClassLoaderWebXmlApplicationContext</param-value>
		</init-param>
		<init-param>
            <param-name>dispatchOptionsRequest</param-name>
            <param-value>true</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>	

	<servlet-mapping>
		<servlet-name>swagger</servlet-name>
		<url-pattern>/docs/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>rest</servlet-name>
		<url-pattern>/api/v1/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>server</servlet-name>
		<url-pattern>/server/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>webservices</servlet-name>
		<url-pattern>/webservices/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>web-resources</servlet-name>
		<url-pattern>/web-resources/*</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>web-resources</servlet-name>
		<url-pattern>/webresources/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>vaadin</servlet-name>
		<url-pattern>/VAADIN/*</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>15</session-timeout>
		<cookie-config>
			<http-only>true</http-only>
			<!-- Enable this when https -->
			<!-- <secure>true</secure> -->
		</cookie-config>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/server/error/404</location>
	</error-page>

</web-app>
